
body {
  font-family: "DM Sans", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

/* menu */
.navbar-menu {
  display: flex;
  margin-bottom: 0;
  
}

.navbar-menu li {
  padding: 8px 12px;
  font-size: 18px;
  letter-spacing: 0.2em;
}

.navbar-menu li:hover {
  color: #f7ca18;
  transition: all 0.3s ease;
}

.navbar-toggleBtn {
  display: none;
  position: absolute;
  top: 25px;
  right: 55px;
  color: #f7ca18;
}

/* food-main */
.food-main {
  width: 100%;
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(https://c.wallhere.com/photos/2a/5e/food_vegetables_tomatoes_salad_Pepper_Garlic_Paprika-1949021.jpg!d);
  background-repeat: no-repeat;
  background-size: cover;
}

.food-title {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.food-title h1 {
  font-size: 40px;
}

.food-text {
  display: flex;
  justify-content: space-between;
  
}

.food-text p {
  border: 1px;
}

/* food-about */
.food-information {
  background-color: #424242;
}

.food-about {
  display: flex;
  height: 80vh;
  background-color: #202020;
}

.food-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}

.food-desc span {
  color: #f7ca18;
  font-size: 18px;
}

.food-desc h1 {
  color: rgb(187, 187, 187);
  font-size: 30px;
  margin-bottom: 5px;
}

.food-desc p {
  color: #fff;
  font-size: 20px;
}

.food-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-height: auto;
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
  height: 15px;
  clear: both;
  font-size: 13px;
  background: #f7ca18;
}

footer p {
  margin-bottom: 0;
}

footer .number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .number p:first-child {
  margin-right: 10px;
}


/*  <=768px (mobile) */
@media screen and (max-width: 768px) {
    .s30 {
    font-size: 24px;
  }

  .navbar {
    min-width: 360px;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    position: relative;
    z-index: 1;
  }

  /* logo */
  .navbar-logo img {
    max-width: 100%;
    max-height: 50px;
  }

  /* menu */
  .navbar-menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navbar-menu li {
    border-bottom: 2px solid #f7ca18;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-toggleBtn {
    display: flex;
  }

  @media (hover: hover) {
    .navbar-menu li:hover {
      color: #f7ca18;
      transition: all 0.3s ease;
    }
  }

  /* logins */
  .navbar-logins {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navbar-logins .message {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 3px;
  }

  .button-group {
    flex-direction: column;
  }

  .button-group li {
    margin-bottom: 3px;
  }

  .button-group .button-login {
    border: none;
    border-bottom: 2px solid #f7ca18;
    border-radius: 0;
    margin-right: 0;
  }

  .button-group .button-logout {
    border: none;
    border-bottom: 2px solid #f7ca18;
    border-radius: 0;
    margin-right: 0;
  }

  .button-group .button-info {
    border: none;
    border-bottom: 2px solid #f7ca18;
    border-radius: 0;
    margin-right: 0;
  }

  .button-group .button-list {
    border: none;
    border-bottom: 2px solid #f7ca18;
    border-radius: 0;
    margin-right: 0;
  }

  .button-group .button-signup {
    border: none;
    border-bottom: 2px solid #f7ca18;
    border-radius: 0;
    margin-right: 0;
  }

  .navbar-logins.active {
    display: flex;
  }

  .navbar-loginBtn {
    display: flex;
  }

  /* food-main */
  .food-title {
    top: 38%;
  }

  .food-title h1 {
    font-size: 30px;
  }

  .food-text {
    font-size: 14px;
  }

  /* food-about */
  .food-about {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(https://fsa.zobj.net/crop.php?r=toWRpkPRDLnPACz1a-aZmk8dIX3qsj1Hizy5PFGaeKuZmI81ot1IJgeqJ0KAde2VKeGzJEYB3Alb30sRFGyrQNXuTLYlV0tQWA15F26vDSGEu4QiJLTmtuE8p-vpkcp5mCdfKSW_kBn_cEIE);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .food-wrap img {
    display: none;
  }

  .food-desc {
    width: 90%;
  }

  .food-desc span {
    color: #f7ca18;
    font-size: 16px;
  }

  .food-desc h1 {
    font-size: 24px;
  }

  .food-desc p {
    font-size: 18px;
  }

  /* food-information */
  .food-card-title h2 {
    font-size: 24px;
  }

  .food-cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 30px;
 	display:flex;
 
  }
  
  footer {
   display: none;
   }
}

