<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.globalin.mapper.BoardMapper">

	<!-- 하나 가져오기 -->
	<select id="getpage" resultType="com.globalin.domain.BoardVO">
		SELECT * 
		FROM tbl_board 
		WHERE bno=#{bno}
		
	</select>
	
	<!-- 삽입하기 -->
	<insert id="insert" parameterType="com.globalin.domain.BoardVO">
		INSERT INTO tbl_board (bno,title, content, writer)
		VALUES (seq_board.nextval,#{title},#{content},#{writer})
		
	</insert>
	
	<!-- 삭제하기 -->
	<delete id="delete">
		DELETE FROM tbl_board
		WHERE bno=#{bno}
		
	</delete>
	
	<!-- 수정하기 -->
	<update id="update">
		UPDATE tbl_board 
		SET title=#{title},content=#{content},writer=#{writer},updateDate =sysdate
		WHERE bno=#{bno}
		
	</update>

	<!-- 리스트가져오기 -->
	<select id="getList" resultType="com.globalin.domain.BoardVO">	
		SELECT * 
		FROM tbl_board 
		WHERE bno > 0
		ORDER BY bno DESC
				
	</select>
	
	<!-- 리스트가져오기 (페이징 처리) -->
	<select id="getListPaging" resultType="com.globalin.domain.BoardVO">    
    <![CDATA[
        
        SELECT bno, title, content, writer, regdate, updatedate, hit
        FROM(
        	SELECT /*+INDEX_DESC(tbl_board) */ rownum  as rn, bno, title, content, writer, regdate, updatedate, hit
            FROM tbl_board
            WHERE rownum <= #{pageNum} * #{amount}
            ) 
                
        WHERE rn > (#{pageNum} -1) * #{amount}
    
    ]]>
    
    </select>
	
	<!-- 게시판 조회수 -->
    <update id="boardHit" parameterType="int">    
    	UPDATE tbl_board 
    	SET hit = hit+1
    	WHERE BNO = #{bno}
    	
    </update>
    
    <!-- 전체 게시글 갯수 -->
   <select id="getTotal" resultType="int">    
        SELECT count(*)
        FROM tbl_board
    
    </select>

</mapper>